img {
    width: 60px;
    height: 60px;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    width: 65px;
    height: 65px;
}

img:active {
    transform: scale(3);
}

img:focus {
    transform: scale(3);
}

.note {
    transition: opacity 3s;
}